## Final Project Analysis on Liquor Store in MN

| Element                        | Your Plan |
| ------------------------------ | --------- |
| Topic / Question               | Do days with high discounts result in significantly higher net sales? This matters because it determines if the store's promotion strategy is actually increasing revenue or just cutting profit margins for no benefit. |
| Hypothesis                     | Days with high discount rates will have a greater mean Net sales than regular-discount days. |
| Outcome / Metric / Test Statistic | The primary metric is Net sales (a continuous variable). The test statistic will be the difference in means of Net sales between the "Promo Day" and "Regular Day" groups. |
| Units of Analysis              | A single day of sales. Each row in the dataset represents one day's sales totals. |
| Data Source(s)                 | Private daily sales data (March 2024 - October 2025) from a single Minnesota liquor store located in Blaine MN. The data is in the `LiquorStoreDataCleaned.xlsx` file. |
| Why this data works            | The dataset is perfect. It's clean and contains the exact continuous variables needed: Net sales and discount_rate (or Discounts). It allows for engineering a clear, two-group comparison ("Promo Days" vs. "Regular Days"). |
| Uncertainty Metric             | The Net sales on "Promo Days." We will use bootstrapping to find the 95% confidence interval for the median Net sales. Sales data is often skewed (non-normal), so the median is a more robust metric, satisfying the project's non-CLT requirement. |
| Null Hypothesis                | The store's discount promotions have no positive effect, or even a negative effect, on net sales. Any observed increase in sales on "Promo Days" is just due to random chance. |

In [18]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
# load the data
file_path = 'LiquorStoreDataCleaned.csv'
liquor = pd.read_csv(file_path)

liquor.head()

,Date,Gross sales,Discounts,Refunds,Net sales,Non-revenue items,Taxes,Amount collected,discount_rate,weekday
0,3/1/24,5415.29,-21.57,0.0,5393.72,0.0,574.30,5968.02,0.003983,Friday
1,3/2/24,4522.27,-9.77,0.0,4512.50,0.0,493.75,5006.25,0.002160,Saturday
2,3/3/24,2304.91,-4.24,0.0,2300.67,0.0,248.76,2549.43,0.001840,Sunday
3,3/4/24,2196.73,-29.33,0.0,2167.40,0.0,234.14,2401.54,0.013352,Monday
4,3/5/24,2451.54,-24.04,0.0,2427.50,0.0,267.34,2694.84,0.009806,Tuesday

In [22]:
liquor['Date'] = pd.to_datetime(liquor['Date'])

liquor.head()

/var/folders/qr/p2x8klsx3x55m_nl2qztdt6m0000gn/T/ipykernel_11256/2414431852.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  liquor['Date'] = pd.to_datetime(liquor['Date'])

,Date,Gross sales,Discounts,Refunds,Net sales,Non-revenue items,Taxes,Amount collected,discount_rate,weekday
0,2024-03-01,5415.29,-21.57,0.0,5393.72,0.0,574.30,5968.02,0.003983,Friday
1,2024-03-02,4522.27,-9.77,0.0,4512.50,0.0,493.75,5006.25,0.002160,Saturday
2,2024-03-03,2304.91,-4.24,0.0,2300.67,0.0,248.76,2549.43,0.001840,Sunday
3,2024-03-04,2196.73,-29.33,0.0,2167.40,0.0,234.14,2401.54,0.013352,Monday
4,2024-03-05,2451.54,-24.04,0.0,2427.50,0.0,267.34,2694.84,0.009806,Tuesday